.container {

    background-color: black;
    display: flex;
    justify-content: space-between;
    min-width: 100%;

}

.logoImg {

    height: 40px;
    width: 240px;
    padding: 20px;
    cursor: pointer;

}

.loginButton {

    color: white;
    font-family: var(--defulat-font);
    font-size: 18px;

}

.signUpButton {

    color: white;
    font-family: var(--defulat-font);
    font-size: 18px;

}

.headerButton {

    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    align-items: center;
    

}